@import "../variables";

.about-card-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Merriweather', serif;
    max-height: 25rem;
    padding-bottom: 10rem;

    svg {
        padding: 0.7rem;
        border-radius: 50%;

        background: rgb(156, 204, 156);
        background: linear-gradient(248deg, rgba(156, 204, 156, 1) 0%, rgba(247, 247, 247, 1) 98%);
        color: rgb(117, 156, 117);

    }
}