@import url("/src/scss/_variables.scss");

.header-class {
    @include display;
    @include prevent-selection;

    width: 100%;
    padding: 1.5rem 0rem;
    height: 3rem;
    font-family: 'Gentium Book Plus',
        serif;
    justify-content: space-between;


    #shop-div {
        padding: 0rem 3rem;
        @include display;

        svg {
            cursor: pointer;
            padding: 0rem 0.5rem;
        }

    }

    #mock {
        visibility: hidden;
        padding: 0rem 3rem;
        @include display;

        svg {
            cursor: pointer;
            padding: 0rem 0.5rem;
        }

    }

}


#initial {
    position: absolute;
    z-index: 1;

    svg {
        display: none;
    }

    img {
        display: none;
    }

}

#sticky {
    position: fixed;

    background: rgba( 201, 255, 201, 0.35 );
    /* background: darken( $white-green ,  10); */
    box-shadow: 0 1px 25px 0 darken( $white-green ,  10);
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
   

    img {
        height: 8rem;
    }
}