@import url("/src/scss/_variables.scss");

.header-class {
    @include display;
    @include prevent-selection;

    width: 100%;
    padding: 1.5rem 0rem;
    height: 2rem;
    font-family: 'Gentium Book Plus',
        serif;
    justify-content: space-between;


    img {
        height: 8rem;
        padding: 0rem 3rem;

        @media screen and (max-width: $mobile-screen) {
            display: none;
        }
    }


    #shop-div {
        padding: 0rem 3rem;
        @include display;

        svg {
            cursor: pointer;
            padding: 0rem 0.5rem;
        }


        @media screen and (max-width: $mobile-screen) {
            padding: 0rem 1rem;
        }

    }

    #mock {
        visibility: hidden;
        padding: 0rem 2rem;
        @include display;

        svg {
            cursor: pointer;
            padding: 0rem 0.5rem;
        }


        @media screen and (max-width: $small-screen) {
            display: none;
        }



    }

}


#initial {
    display: none;

    @media screen and (max-width: $mobile-screen) {
        display: flex;
        position: fixed;
        background-color: transparent;
        z-index: 2;
        backdrop-filter: blur(3px);
        
    }

}

#sticky {
    position: fixed;
    background: rgba(112, 140, 112, 0.668);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);

    @media screen and (max-width: $mobile-screen) {

        backdrop-filter: blur(3px);
        box-shadow: none;
    }



}