@import url("/src/scss/_variables.scss");

.header-class {
    @include display;
    @include prevent-selection;
    width: 100%;

    height: 3rem;
    font-family: 'Gentium Book Plus', serif;
    justify-content: space-between;

    img {
        height: 7rem;
    }

    #shop-div {
        padding: 0rem 1rem;
        @include display;

        svg {
            padding: 0rem 0.5rem;
        }

        svg:hover {
            transition:  1000ms;
            color: rgb(157, 157, 157);
            cursor: pointer;
        }
    }












    #mock {
        visibility: hidden;
        padding: 0rem 2rem;

        svg {
            padding: 0rem 0.5rem;
        }
    }

}