@import "../variables";

#about-section {

    /* background-color: lighten($white-green, 10); */
    background-image: url("/public/assets/pngleaf.png");
    background-size: cover;
    height: 40rem;
    overflow: hidden;
    padding-bottom: 10rem;

    div {
        @include display;
        margin-top: 15%;
        width: 100%;
        height: 100%;
    
    }

    #row-div {
        display: grid;
        grid-template-columns: 23% 23% 23%;
        gap: 1rem;

    }
}