@import "../variables";


footer {
    font-family: inter;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
}



.main-footer {


    display: flex;
    flex-direction: row;

    width: 100%;

    height: 500px;

    //background-image: url("../../../public/adobe/1000_F_216613855_khO3DLXshZ3ANkdIWE2usSnKSYCENcXx.jpg");
    background-repeat: no-repeat;
    background-size: cover;




    #logo-div {

        background-color: rgba(26, 26, 26, 0.301);

        img {
            height: 100%;
        }
    }

    .SeparatorRoot[data-orientation='vertical'] {
        background-color: rgba(221, 212, 212, 0.747);

        margin-top: 5rem;

        height: 70%;
        width: 2px;
    }

    #socials {
        display: flex;
        flex-direction: column;
        justify-content: center;


        svg {
            color: rgba(221, 212, 212, 0.747);
            margin: 0.8rem 0.5rem;

            &:hover {
                color: rgba(245, 244, 244, 0.877);
                transition: 0.9s;
                cursor: pointer;
            }

        }
    }

    .info-container {
        /*  display: flex ;
        font-weight: 100;
        font-size: smaller;
        flex-direction: column;
        
        align-items: center; */
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #2196F3;

        width: 100%;

        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            text-align: center;
        }
        

    }


}


.copyright {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(202, 199, 199, 0.705);
    display: flex;
    align-items: center;
    justify-content: center;
}