@import "../variables";


#footer-section {
    display: block;

    footer {
        @include display;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;     

        background-color: red;
    }
}