@import url("/src/scss/_variables.scss");
.header-class {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
  width: 100%;
  padding: 1.5rem 0rem;
  height: 2rem;
  font-family: "Gentium Book Plus", serif;
  justify-content: space-between;
}
.header-class img {
  height: 8rem;
  padding: 0rem 3rem;
}
@media screen and (max-width: 700px) {
  .header-class img {
    display: none;
  }
}
.header-class #shop-div {
  padding: 0rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-class #shop-div svg {
  cursor: pointer;
  padding: 0rem 0.5rem;
}
@media screen and (max-width: 700px) {
  .header-class #shop-div {
    padding: 0rem 1rem;
  }
}
.header-class #mock {
  visibility: hidden;
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-class #mock svg {
  cursor: pointer;
  padding: 0rem 0.5rem;
}
@media screen and (max-width: 1070px) {
  .header-class #mock {
    display: none;
  }
}

#initial {
  display: none;
}
@media screen and (max-width: 700px) {
  #initial {
    display: flex;
    position: fixed;
    background-color: transparent;
    z-index: 2;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
  }
}

#sticky {
  position: fixed;
  background: rgba(112, 140, 112, 0.082);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}
@media screen and (max-width: 700px) {
  #sticky {
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    box-shadow: none;
  }
}

.glassCard {
  display: inline-block;
  padding: 4vw 6vw;
  background: rgba(26, 27, 33, 0.4);
  border-radius: 10px;
  z-index: 2;
  position: relative;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-clip: border-box;
  margin-top: 15%;
  box-shadow: 0 1px 25px 0 rgba(4, 4, 4, 0.4);
}
@media screen and (max-width: 700px) {
  .glassCard {
    display: none;
  }
}
.glassCard img {
  height: 15vw;
}

.socials {
  display: flex;
  justify-content: end;
  width: 100%;
  top: 0;
  position: absolute;
}
.socials nav {
  padding-top: 0.5rem;
  padding-right: 1rem;
}
.socials nav svg {
  color: rgba(225, 222, 222, 0.381);
}

.about-card {
  display: flex;
  font-family: "Merriweather", serif;
  height: 22rem !important;
  flex-direction: column;
  text-align: center;
  border-radius: 16px;
  margin: 0 auto;
  /*  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 5px 8px 0px rgba(0, 0, 0, 0.14),
      0px 1px 14px 0px rgba(0, 0, 0, 0.12); */
}
.about-card svg {
  cursor: pointer;
  padding: 0.7rem;
  border-radius: 50%;
  background: linear-gradient(248deg, rgb(156, 204, 156) 0%, rgb(247, 247, 247) 98%);
  color: rgb(117, 156, 117);
}
.about-card h2 {
  margin: 1rem 0rem 0rem 0rem;
}
.about-card p {
  font-family: inter;
  font-weight: 400;
  color: gray;
  max-width: 80%;
  font-size: 1rem;
}

#header-section-child {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#header-section-child video {
  top: 0;
  width: 100%;
  position: absolute;
  z-index: 0;
}

footer {
  font-family: inter;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-footer #logo-div {
  background-color: rgba(26, 26, 26, 0.301);
}
.main-footer #logo-div img {
  margin-left: 5rem;
  height: 100%;
}
.main-footer .SeparatorRoot[data-orientation=vertical] {
  margin-left: 10rem;
  background-color: rgba(221, 212, 212, 0.747);
  margin-top: 5rem;
  height: 70%;
  width: 2px;
}
.main-footer #socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-footer #socials svg {
  color: rgba(221, 212, 212, 0.747);
  margin: 0.6rem 1rem;
}
.main-footer #socials svg:hover {
  color: rgba(245, 244, 244, 0.938);
  transition: 0.9s;
  cursor: pointer;
}
.main-footer .info-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10rem;
  width: 100%;
}
.main-footer .info-container nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main-footer .info-container nav ul {
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: 200;
}
.main-footer .info-container nav .title {
  font-size: 1.3rem;
  font-weight: 400;
}

.copyright {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(202, 199, 199, 0.705);
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  height: 100%;
}

body {
  position: relative;
  min-height: 100vh;
  height: 4000px;
  background-color: #131413;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: large;
}/*# sourceMappingURL=global.css.map */