
@import "variables";

//components
@import "components/headers" ;
@import "components/glassCard";
@import "components/socials";
@import "components/aboutCard";

//sections
@import "sections/sectionHeader";
@import "sections/sectionAbout";



#root {
    height: 100%;
}

body {
    background-color: $white-green;
    height: 2000px;

    font-weight: 500;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: large;
}

